/* Simple color underlines. Made to be used in a Zotero Integration Template,*/
/* also pairs well with the Text Format and Editing Toolbar plugins*/
/* Made by: LinguistCode on github.com/LinguistCode/a-linguists-obsidian */


.uYellow {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: #ffd400; }

.uGreen {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: #5fb236; }

.uRed {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: #ff6666; }
  

.uBlue {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: #2ea8e5; }

.uGray {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: #aaaaaa; }

.uOrange {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: #f19837; }

.uPurple {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: #a28ae5; }

.uMagenta {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: #e56eee; }

/* The following is for imports from Zotero */

.default-underline {
  text-decoration: underline;
  text-decoration-color: #ffd400; /* Use yellow color if no color is provided */
}
